= simple_form_for(@comment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body
    = f.input :email
    = f.input :published
    = f.input :commentable_id
    = f.input :commentable_type, collection: ['City', 'Squat']

  .form-actions.btn-group
    = f.button :submit
    - if @comment.persisted?
      = link_to 'Destroy', @comment, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
    = link_to 'Back', comments_path, class: 'btn btn-default'

