%h1 Listing comments

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Body
      %th Comment on
      %th Email
      %th Published

  %tbody
    - @comments.each do |comment|
      %tr
        %td= link_to comment.title, comment
        %td= truncate comment.body
        %td= render partial: 'commentable_link', locals: { commentable: comment.commentable }
        %td= comment.email
        %td= comment.published

%br

= link_to 'New Comment', new_comment_path, class: 'btn btn-primary'
