%h1 Listing comments

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Body
      %th Email
      %th Published
      %th Commentable
      %th
      %th
      %th

  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.title
        %td= comment.body
        %td= comment.email
        %td= comment.published
        %td= comment.commentable
        %td= link_to 'Show', comment
        %td= link_to 'Edit', edit_comment_path(comment)
        %td= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Comment', new_comment_path
