%p#notice= notice

%h1= @comment.title

.comment-body= auto_link(@comment.body, link: :urls)

- if can? :view_email, @comment
  %p
    %b Email:
    = @comment.email

%p
  %b
    Comment on:
    = link_to @comment.commentable.name, commentable_path(@comment.commentable)
    = @comment.commentable.class

.form-actions.btn-group
  - if can? :update, @comment
    = link_to t(:edit), edit_comment_path(@comment), class: 'btn btn-primary'
  - if can? :destroy, @comment
    = link_to t(:destroy), @comment, :method => :delete, :data => { :confirm => t(:confirm_question) }, class: 'btn btn-danger'
  = link_to t(:back), comments_path, class: 'btn btn-default'
