%p#notice= notice

%h1= @comment.title

.comment-body= @comment.body

%p
  %b Email:
  = @comment.email
%p
  %b
    Comment on:
    = link_to @comment.commentable.name, commentable_path(@comment.commentable)
    = @comment.commentable.class

.form-actions.btn-group
  = link_to 'Edit', edit_comment_path(@comment), class: 'btn btn-primary'
  = link_to 'Destroy', @comment, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  = link_to 'Back', comments_path, class: 'btn btn-default'
