= simple_nested_form_for([@city, @squat]) do |f|
  = render 'shared/error_messages', object: f.object

  .form-inputs
    = f.input :name

    - if @squat.id?
      #map{ data: { mode: :edit, latlng: @squat.latlng, zoom: 14, icon: get_default_icon } }
    - else
      #map{ data: { mode: :create, latlng: @city.latlng, zoom: 10, icon: get_default_icon } }

    .row
      .col-md-8
        = f.input :address, as: :text
      .col-md-4
        %p
          &nbsp;
        %a.btn.btn-default#geocode{'data-source': '#squat_address', 'data-city-name': @city.name}
          = t(:geocode_address)

    = tinymce_assets
    = f.text_area :body, class: 'tinymce', rows: 20, cols: 120, label: t(:label_body)
    = tinymce

    = f.input :link, as: :string

    .row
      .col-md-8
        = f.input :lat, label: t(:latitude), as: :string
        = f.input :lng, label: t(:longitude), as: :string
      .col-md-4
        %p
          &nbsp;
        %a.btn.btn-default#set-lat-lng
          = t(:set_lat_lng)

    #periods.well
      %h2= t(:squat_period)
      = f.simple_fields_for :periods do |p|
        .period.row
          .col-md-2
            = p.input :start_day, collection: (1..31).to_a
          .col-md-2
            = p.input :start_month, collection: (1..12).to_a.map{|i| [I18n.t("date.month_names")[i], i]}
          .col-md-2
            = p.input :start_year
          .col-md-2
            = p.input :end_day, collection: (1..31).to_a
          .col-md-2
            = p.input :end_month, collection: (1..12).to_a.map{|i| [I18n.t("date.month_names")[i], i]}
          .col-md-2
            = p.input :end_year
          = p.link_to_remove t(:remove_period), class: "pull-right"
      = f.link_to_add t(:add_period), :periods

    = f.input :tags, collection: Squat.form_tags, as: :check_boxes, label: t(:tags)

  .form-actions.btn-group
    = f.button :submit, value: (@squat.id? ? t(:update_squat) : t(:create_squat)), class: "btn btn-default"
    - if @squat.id?
      = link_to t(:destroy), [@city, @squat], :method => :delete, :data => { :confirm => t(:confirm_question) }, class: "btn btn-default"
      = link_to t(:show), [@city, @squat], class: "btn btn-default"
    = link_to t(:back_to_city), city_squats_path(@city), class: "btn btn-default"
