= simple_form_for([@city, @squat]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: t(:label_name)
    = f.input :body, label: t(:label_body)

    - if @squat.id?
      #map{ data: { mode: :edit, latlng: @squat.latlng, zoom: 14 } }
    - else
      #map{ data: { mode: :create, latlng: @city.latlng, zoom: 10 } }

    = f.input :lat, wrapper_html: {class: "hide"}
    = f.input :lng, wrapper_html: {class: "hide"}

  .form-actions.btn-group
    = f.button :submit, value: t(:update_squat), class: "btn btn-default"
    - if @squat.id?
      = link_to t(:destroy), [@city, @squat], :method => :delete, :data => { :confirm => t(:confirm_question) }, class: "btn btn-default"
      = link_to t(:show), [@city, @squat], class: "btn btn-default"
    = link_to t(:back_to_city), city_squats_path(@city), class: "btn btn-default"
