%h4= squat.name

= render partial: "description", locals: {squat: squat}

- if can? :update, squat
  = link_to t(:edit), edit_city_squat_path(squat.city, squat)
  - squat.pictures.each do |picture|
    = link_to city_picture_path(squat.city, picture) do
      = image_tag(picture.picture_url(:thumb), size: "40x40") if picture
