- content_for :container_class do
  container-fluid

= render("menu")

= render("shared/legend")

#sidebar
  #squat_list.sidebar-content.full-height
    .sidebar-inner-content
      %h2= Squat.model_name.human(:count => 2)
      - @squats.group_by{ |u| u.name.upcase[0] }.each do |alpha, squats|
        %h3= alpha
        %ul
          - squats.each do |squat|
            %li
              %a{href: '#' + squat.slug}= squat.name
  #city_text.sidebar-content.full-height
    .sidebar-inner-content
      %h2= @city.name
      = sanitize @city.body
      = render partial: 'shared/comments', locals: { commentable: @city, show_create_comment_link: true }

#map.full-height{ data: { squats_url: @squats_url, mode: :index, latlng: @city.latlng, bounds: @city.squat_bounds, zoom: 10 } }

- content_for :footer do
  %nav#footer.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
      #all_years_container
        %input#all_years{type: :checkbox, title: t(:all_years), checked: true}
        %br
        %label{ for: "all_years"}
          = t(:all_years)
      #slider_container
        #slider{ data: { from: city_start_year(@city), to: Date.today.year } }
        #year
          = t(:all_years)