- content_for :container_class do
  container-fluid

- content_for :menu_right do
  %li
    %a.dynamic_menu{href: "#legend"}= t(:legend)
  %li
    %a.dynamic_menu{href: "#sidebar"}= Squat.model_name.human(:count => 2)

= render("shared/legend")

#sidebar.full-height
  #squat_list
    %h2= Squat.model_name.human(:count => 2)
    - @squats.group_by{ |u| u.name.upcase[0] }.each do |alpha, squats|
      %h3= alpha
      %ul
        - squats.each do |squat|
          %li
            %a{href: '#' + squat.slug}= squat.name

#map.full-height{ data: { squats_url: city_squats_path(@city, format: :json), mode: :index, latlng: @city.latlng, bounds: @city.squat_bounds, zoom: 10 } }

- content_for :footer do
  %nav#footer.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
      #all_years_container
        %input#all_years{type: :checkbox, title: t(:all_years), checked: true}
        %br
        %label{ for: "all_years"}
          = t(:all_years)
      #slider_container
        #slider{ data: { from: city_start_year(@city), to: Date.today.year } }
        #year
          = t(:all_years)