%h1= @squat.name

#map{ data: { squats_url: city_squat_url(@city, @squat, format: :json), mode: :show, latlng: @squat.latlng, zoom: 14 } }

= render partial: "description", locals: {squat: @squat}

.btn-group
  - if can? :update, @squat
    = link_to t(:edit), edit_city_squat_path(@city, @squat), class: "btn btn-default"

  = link_to t(:back_to_city), city_squats_path(@city), class: "btn btn-default"

= render partial: "shared/versions", locals: {record: @squat}