%h1= @squat.name

#map{ data: { squats_url: city_squat_url(@city, @squat, format: :json), mode: :show, latlng: @squat.latlng, zoom: 14 } }

= render partial: "description", locals: { squat: @squat, show_create_comment_link: false }

.btn-group
  - if can? :update, @squat
    = link_to t(:edit), edit_city_squat_path(@city, @squat), class: "btn btn-default"
  - if can? :create, Picture
    = link_to t(:upload_picture), new_city_picture_path(@city, squat_id: @squat.id), class: "btn btn-default"
  - if can?(:create, Comment)
    = link_to t(:new_comment), new_comment_path(comment: { commentable_id: @squat.id, commentable_type: @squat.class }), class: 'btn btn-default'
  = link_to t(:back_to_city), city_squats_path(@city, anchor: @squat.slug), class: "btn btn-default"

= render partial: "shared/versions", locals: {record: @squat}