!!!
%html
  %head
    %title Sqek
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      = render 'shared/menu'
      = render 'shared/flash_messages', flash: flash
      = yield
