#legend.hidden
  %table
    %tr
      %th
        = t(:legend)
        %i#close_legend.glyphicon.glyphicon-remove.pull-right
    %tr
      %th
        = t(:squatted_after)
    %tr
      %td
        %table(style="width:100%")
          %tbody
            %tr
              - LegendColors.until_now.values.each do |color|
                %td.year-color(style="background-color:#{color}")
            %tr
              - LegendColors.until_now.keys.each do |year|
                %td
                  = year
    %tr
      %td
        %table
          %tbody
            %tr
              %td
                = image_tag( "svg/haus_grau.svg", style: "width:22px;height:32px;" )
              %td
                = image_tag( "svg/wagen_grau.svg", style: "width:22px;height:32px;" )
              %td
                = image_tag( "svg/zelt_grau.svg", style: "width:22px;height:32px;" )
              %td
                = image_tag( "svg/haus_grau_evicted.svg", style: "width:22px;height:32px;" )
            %tr
              %td(style="width:25%;")
                = t(:house)
              %td(style="width:25%;")
                = t(:caravan_site)
              %td(style="width:25%;")
                = t(:occupied_public_space)
              %td(style="width:25%;")
                = t(:evicted)
