%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to t(:menu_cities), root_path
        - if can? :create, City
          %li= link_to t(:new_city), new_city_path
        - if @city.present? and can? :create, Squat
          %li= link_to t(:new_squat), new_city_squat_path(@city)
      %ul.nav.navbar-nav.navbar-right
        - I18n.available_locales.each do |l|
          %li{ class: (l.to_s + " language-selector") }
            = link_to l, locale: l
        - if user_signed_in?
          %li
            = link_to t(:account), edit_user_registration_path
          %li
            = link_to 'Logout', destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to 'Login', new_user_session_path