%h1 All pictures of #{@city.name} (#{@pictures.count} in total)
- @pictures.each do |picture|
  = picture.title
  = picture.description
  = image_tag(picture.picture_url, width: 600)
  = link_to t(:edit), edit_city_picture_path(@city, picture), class: "btn btn-default"
  = link_to t(:destroy), [@city, picture], method: :delete, data: {confirm: t(:confirm_question)}, class: "btn btn-default"