%h1
  = link_to @city.name, city_squats_path(@city)
  = t(:pictures)
- @pictures.uniq.each_slice(4) do |row|
  .row
    - row.each do |picture|
      .picture.col-md-3
        %h2= link_to picture.title, city_picture_path(@city, picture)
        = image_tag picture.picture_url(:thumb)
        %p= picture.description
        - picture.squats.each do |squat|
          = link_to squat.name, city_squat_path(@city, squat)