.row
  %h2
    = @picture.title
.row
  = image_tag(@picture.picture_url(:show))
.row
  = @picture.description
.row
  %h3
    Squats
  %ul
    - @picture.squats.each do |squat|
      %li= link_to squat.name, city_squats_path(@city, anchor: squat.slug)
.row
  - if can? :edit, @picture
    = link_to t(:edit), edit_city_picture_path(@city, @picture), class: "btn btn-default"
  - if can? :destroy, @picture
    = link_to t(:destroy), [@city, @picture], method: :delete, data: {confirm: t(:confirm_question)}, class: "btn btn-danger"