= simple_form_for(@city) do |f|
  = render 'shared/error_messages', object: f.object

  .form-inputs
    = f.input :name, label: t(:label_name)
    - if can?(:update_city_location, @city)
      %a.btn.btn-default#geocode{'data-sources': ['#city_name']}
        = t(:geocode_address)

    = tinymce_assets
    = f.text_area :body, class: 'tinymce', rows: 20, cols: 120, label: t(:label_body)
    = tinymce

    - if can?(:update_city_location, @city)
      - if @city.id?
        #map{ data: { mode: :edit, latlng: @city.latlng, zoom: 8, icon: get_default_icon } }
      - else
        #map{ data: { mode: :create, latlng: [47, 11], zoom: 4, icon: get_default_icon } }

      = f.input :lat, wrapper_html: { class: "hide" }
      = f.input :lng, wrapper_html: { class: "hide" }

    = f.input :external_url
    = f.input :label_position, collection: City.label_positions.keys

  .form-actions.btn-group
    = f.button :submit, value: (@city.id? ? t(:update_city) : t(:create_city)), class: "btn btn-default"
    - if @city.id?
      = link_to t(:destroy), @city, :method => :delete, :data => { :confirm => t(:confirm_question) }, class: "btn btn-default"
      = link_to t(:show), @city, class: "btn btn-default"
    = link_to t(:back), cities_path, class: "btn btn-default"