%p#notice= notice

%h1= @city.name
%p= @city.body

#map{ data: { mode: :show, latlng: @city.latlng, zoom: 8 } }
%script
  window.cities =
  = @cities.to_json.html_safe

= link_to 'Edit', edit_city_path(@city)
\|
= link_to 'Back', cities_path
