%p#notice= notice

%p
  %b Name:
  = @city.name
%p
  %b Body:
  = @city.body
%p
  %b Lat:
  = @city.lat
%p
  %b Lng:
  = @city.lng

= link_to 'Edit', edit_city_path(@city)
\|
= link_to 'Back', cities_path
