%h3
  Comment Notification

%p
  Someone has written a new comment on
  = @comment.commentable.name

%p You can edit or delete this comment here:

%p= link_to(comment_url(@comment, locale: 'en'), comment_url(@comment, locale: 'en'))

%hr

%h5 Comment author

%p= @comment.email

%hr

%h5 Comment title

%p= @comment.title

%hr

%h5 Comment body

%p= @comment.body

